body{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.nav-active{
    color: rgb(255, 38, 0)   ;      
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 80%;

    gap: 8px;
}

.radio-label:hover{
    cursor: pointer;
}

select{
    width: 100%;
    height: 40px;

    border: none;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;

    padding: 10px;
}

input[type="number"]{
    width: 100%;
    height: 25px;

    border: solid black 1px;
    border-radius: 5px;
}

#holiday_or_promotion-wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#predict{
    display: flex;
    flex-direction: row;

    margin-top: 10px;
    gap: 35px;
}

.container{
    width: 100%;
    height: 35%;

    border: solid red;
    border-radius: 15px;

    padding: 20px;
}

.submit-btn{
    cursor: pointer;
    width: 80%;
    padding: 20px;

    border: solid white 3px;
    border-radius: 15px;

    background-color: rgb(32, 4, 244);
    color: white;
    font-size: large;
}

.submit-btn:hover{
    color: rgb(32, 4, 244);
    background-color: white;

    border: solid 3px rgb(32, 4, 244);
}

.mid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 10px;
}